<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Candor.Tasks">
      <section name="WorkerRole" type="Candor.Configuration.Provider.ProviderConfigurationSection, Candor.Core"/>
    </sectionGroup>
  </configSections>
  <Candor.Tasks>
    <WorkerRole>
      <providers>
        <add name="placeholder" type="Candor.Tasks.MultiWorkerService.PlaceholderWorkerRoleTask, Candor.Tasks.MultiWorkerService"/>
        <!-- Don't monitor self.  If the current service was not running, then this task would not be running.
        <add name="serviceMonitor" type="Candor.Tasks.ServiceProcess.ServiceMonitorWorkerRoleTask, Candor.Tasks.ServiceProcess"
             serviceName="YourServiceName"
             serviceMachineName="RemoteServerNameOrBlankForLocal"
             WaitingPeriodSeconds="300" />
        <add name="serviceMonitor2" type="Candor.Tasks.ServiceProcess.ServiceMonitorWorkerRoleTask, Candor.Tasks.ServiceProcess"
             serviceName="YourServiceName"
             outputFileNameToWatch="\\ServerName\Folder\MonitoredFileName.txt"
             outputFileMaxAgeMinutes="40"
             outputFileExpectedAgeMinutes="20"
             WaitingPeriodSeconds="300" />-->
      </providers>
    </WorkerRole>
  </Candor.Tasks>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
