<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Candor.Tasks">
      <section name="WorkerRole" type="Candor.Configuration.Provider.ProviderConfigurationSection, Candor.Core"/>
    </sectionGroup>
  </configSections>
  <Candor.Tasks>
    <WorkerRole>
      <providers>
        <add name="placeholder" type="Candor.Tasks.MultiWorkerService.PlaceholderWorkerRoleTask, Candor.Tasks.MultiWorkerService"/>
      </providers>
    </WorkerRole>
  </Candor.Tasks>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
