@model dynamic
@using System.Net.Configuration

<p>
    Someone requested a password reset for this email address.  If this was not you,
    then you can delete this email.  Your account login will remain safe.
</p>
<p>
    Your temporary password for the next hour is @Model.PasswordHash
</p>