<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="Candor.Security">
      <section name="UserManager" type="Candor.Configuration.Provider.ProviderConfigurationSection, Candor" />
      <section name="SecurityContextManager" type="Candor.Configuration.Provider.ProviderConfigurationSection, Candor" />
    </sectionGroup>
    <sectionGroup name="Candor.Security.Cryptography">
      <section name="HashManager" type="Candor.Configuration.Provider.ProviderConfigurationSection, Candor" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CandorMvcApplication-20130124151850;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CandorMvcApplication-20130124151850.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <Candor.Security>
    <UserManager defaultProvider="sql">
      <providers>
        <add name="sql" type="Candor.Security.SqlProvider.UserProvider, Candor.Security.SqlProvider" connectionNameUser="DefaultConnection" connectionNameUserSalt="DefaultConnection" connectionNameAudit="DefaultConnection" />
        <!--TODO: recommended: use a different connection name with different login access to each, preferably each to separate database. -->
      </providers>
    </UserManager>
    <SecurityContextManager defaultProvider="Web">
      <providers>
        <add name="Web" type="Candor.Security.Web.WebSecurityContextProvider, Candor.Security" />
      </providers>
    </SecurityContextManager>
  </Candor.Security>
  <Candor.Security.Cryptography>
    <HashManager defaultProvider="sha2">
      <providers>
        <add name="sha2" type="Candor.Security.Cryptography.SHA2HashProvider, Candor.Security" SaltModifier="" IsObsolete="false" />
        <!--Optional: Add SaltModifier varied per database environment via config transform-->
      </providers>
    </HashManager>
  </Candor.Security.Cryptography>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\AppLogs\mvcapp.log.txt" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="8" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="Candor.Security.Web.CandorAuthenticationModule">
      <level value="WARN" />
    </logger>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <customErrors mode="On" defaultRedirect="Error">
      <error statusCode="404" redirect="~/NotFound" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="CandorAuthorizationRoleProvider">
      <providers>
        <clear />
        <add name="CandorAuthorizationRoleProvider" type="Candor.Security.CandorAuthorizationRoleProvider, Candor.Security" useAuthorizationManager="true" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="CandorAuthenticationModule" type="Candor.Security.Web.CandorAuthenticationModule, Candor.Security" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>