@if (Request.IsAuthenticated) {
    <text>
        Hello, @User.Identity.Name!
        @using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", MVC.Account.Register(), htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", MVC.Account.Login(), htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
